---
import { Code } from "astro:components";

import Page from "../layouts/Page.astro";
import Part from "../components/Part.astro";
import Section from "../components/Section.astro";
import DevList from "../components/DevList.astro";
import DevCard from "../components/DevCard.astro";
import IFrame from "../components/IFrame.astro";

import img_catperson from "../assets/cat_person.webp";
import img_maxxus from "../assets/maxxus.webp";
import img_rob from "../assets/rob_2.png";
import img_spidey from "../assets/spidey.webp";
import img_infernus from "../assets/infernus.png";

const nullfire_script_rob = 'loadstring(game:HttpGet("https://raw.githubusercontent.com/NuIlFire/NullFire/main/loader.lua"))()';
const nullfire_script_infernus = 'loadstring(game:HttpGet("https://raw.githubusercontent.com/InfernusScripts/Null-Fire/main/Loader"))()';
---

<Page path={Astro.url.pathname} title="About">
	<Part>
		<h1 translate="no">NullFire</h1>
		<p class="lead">
			<span translate="no">NullFire</span> is a <span class="pwrful">powerful</span>
			<span translate="no">Roblox</span> script hub with <span class="imprtnt"
				>countless features</span
			> and a <span class="imprtnt">wide array of supported games</span>.
		</p>
	</Part>

	<Section title="Script">
		<p>The NullFire project is split into two scripts; one maintained by Rob, and the other by Infernus.</p>

		<h3>Rob's Script</h3>
		<h4>Supported Games</h4>
		<ul>
			<li>Doors</li>
		</ul>
		<h4>Script</h4>
		<Code code={nullfire_script_rob} lang="luau" theme="aurora-x" translate="no" dir="ltr" />

		<br />
		
		<h3>Infernus' Script</h3>
		<h4>Supported Games</h4>
		<ul>
			<li>Funky Friday</li>
			<li>Natural Disaster Survival</li>
			<li>Pressure</li>
		</ul>
		<h4>Script</h4>
		<Code code={nullfire_script_infernus} lang="luau" theme="aurora-x" translate="no" dir="ltr" />
	</Section>

	<Section title="FAQ">
		<p class="no-pad-y">
			<b aria-hidden="true">Q.</b> What information do you log?<br />
			<b aria-hidden="true">A.</b> We log <abbr title="Hardware IDs">HWIDs</abbr> to prevent premium
			users from sharing their <span translate="no">NullFire+</span><br />
		</p>
	</Section>

	<Section title="Developers">
		<DevList>
			<DevCard image={img_rob} name="rob" role="owner" rolecolor="#ff0000">
				main dev<br />
				does pretty much all the work
			</DevCard>
			<DevCard image={img_spidey} name="spidey" role="co-owner" rolecolor="#880000">
				mr spooder
			</DevCard>
			<DevCard image={img_infernus} name="infernus" role="ui designer" rolecolor="#ff4447">
				also helping with some stuff other than ui
			</DevCard>
			<DevCard image={img_maxxus} name="maxxus" role="website dev" rolecolor="#0016ff">
				coolest <span translate="no">nullfire</span> dev<br />
				not gay
			</DevCard>
			<DevCard image={img_catperson} name="cat_person" role="contributer" rolecolor="#7c00ff">
				contributed scripts for <span translate="no">doors</span> and <span translate="no"
					>pressure</span
				>
			</DevCard>
		</DevList>
	</Section>

	<Section title="Join our Discord(s)!">
		<IFrame
			class="discordEmbed"
			title="Discord server"
			src="https://discord.com/widget?id=1289878746463207424&theme=dark"
			width="350"
			height="500"
			allowtransparency="true"
			loading="lazy"
			credentialless="true"
			referrerpolicy="no-referrer"
			sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"
		/>
		<IFrame
			class="discordEmbed"
			title="Discord server"
			src="https://discord.com/widget?id=1183062272193605784&theme=dark"
			width="350"
			height="500"
			allowtransparency="true"
			loading="lazy"
			credentialless="true"
			referrerpolicy="no-referrer"
			sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"
		/>
	</Section>
</Page>
