---
import { Code } from "astro:components";

import Page from "../layouts/Page.astro";
import Section from "../components/Section.astro";
import DevList from "../components/DevList.astro";
import DevCard from "../components/DevCard2.astro";
import List from "../components/List.astro";
import SocialCard from "../components/SocialCard.astro";

import img_catperson from "../assets/cat_person.webp";
import img_maxxus from "../assets/maxxus.webp";
import img_rob from "../assets/rob.webp";
import img_spidey from "../assets/spidey.webp";
import img_infernus from "../assets/infernus.png";
import img_discord from "../assets/discord.svg";
import img_twitter from "../assets/twitter.svg";
import img_youtube from "../assets/youtube.svg";

const nullfire_script = `
loadstring(game:HttpGet("https://raw.githubusercontent.com/NuIlFire/NullFire/main/loader.lua"))()
`.trim();
---

<Page path="/" title="About">
	<h1>NullFire</h1>
	<p class="lead">
		NullFire is a <span class="pwrful">powerful</span> Roblox script hub with <span class="imprtnt"
			>countless features</span
		> and a <span class="imprtnt">wide array of supported games</span>.
	</p>

	<Section title="Script">
		<Code code={nullfire_script} lang="luau" theme="aurora-x" />
	</Section>

	<Section title="FAQ">
		<p class="no-pad-y">
			<b>Q.</b> What information do you log?<br />
			<b>A.</b> We log HWIDs to prevent premium users from sharing their NullFire+<br />
		</p>
	</Section>

	<Section title="Our Developers">
		<DevList>
			<DevCard image={img_rob} name="rob" role="owner" rolecolor="#ff0000">
				main dev.<br>
				does pretty much all the work.
			</DevCard>
			<DevCard image={img_spidey} name="spidey" role="co-owner" rolecolor="#ff0000">
				mr spooder.
			</DevCard>
			<DevCard image={img_infernus} name="infernus" role="ui designer" rolecolor="#ff0000">
				also helping with some stuff other than ui.
			</DevCard>
			<DevCard image={img_maxxus} name="maxxus" role="website dev" rolecolor="#ff0000">
				coolest nullhub dev.<br>
				not gay.
			</DevCard>
			<DevCard image={img_catperson} name="cat_person" role="contributer" rolecolor="#ff0000">
				contributed scripts for doors and pressure.
			</DevCard>
		</DevList>
	</Section>

	<Section title="Our Socials">
		<List>
			<SocialCard
				image={img_discord}
				platform="discord"
				username="dsc.gg/nullfire"
				link="https://dsc.gg/nullfire"
			/>
			<SocialCard
				image={img_twitter}
				platform="twitter"
				username="@ [placeholder]"
				link="https://x.com/"
			/>
			<SocialCard
				image={img_youtube}
				platform="youtube"
				username="@ [placeholder]"
				link="https://youtube.com/"
			/>
		</List>
	</Section>
</Page>
