---
import DevCard from "../components/DevCard.astro";
import SocialCard from "../components/SocialCard.astro";
import List from "../components/List.astro";
import Section from "../components/Section.astro";
import Page from "../layouts/Page.astro";

import img_catperson from "../assets/cat_person.webp";
import img_maxxus from "../assets/maxxus.webp";
import img_rob from "../assets/rob.webp";
import img_spidey from "../assets/spidey.webp";
import img_discord from "../assets/discord.svg";
import img_twitter from "../assets/twitter.svg";
---

<Page title="About">
	<h1>NullFire</h1>
	<p class="lead">
		NullFire is a <span class="pwrful">powerful</span> Roblox script hub with <span class="imprtnt"
			>countless features</span
		> and a <span class="imprtnt">wide array of supported games</span>.
	</p>

	<Section title="FAQ">
		<p class="no-pad-y">
			<b>Q.</b> What information do you log?<br />
			<b>A.</b> We log HWIDs to prevent premium users from sharing their NullFire+<br />
		</p>
	</Section>

	<Section title="Our Developers">
		<List>
			<DevCard image={img_rob} name="rob" role="owner">
				<p>main dev</p>
				<p>does pretty much all the work</p>
			</DevCard>
			<DevCard image={img_spidey} name="spidey" role="co-owner">
				<p>mr spooder</p>
			</DevCard>
			<DevCard image={img_maxxus} name="maxxus" role="website dev">
				<p>coolest nullhub dev</p>
				<p>not gay</p>
			</DevCard>
			<DevCard image={img_catperson} name="cat_person" role="contributer">
				<p>contributed scripts for doors and pressure</p>
			</DevCard>
		</List>
	</Section>

	<Section title="Our Socials">
		<List>
			<SocialCard
				image={img_discord}
				platform="discord"
				username="dsc.gg/nullfire"
				link="https://dsc.gg/nullfire"
			/>
			<SocialCard
				image={img_twitter}
				platform="twitter"
				username="@ [placeholder]"
				link="https://x.com/"
			/>
		</List>
	</Section>
</Page>
