---
import logo from "../assets/logo.png";

interface Props {
	path: string;
	title: string;
}

const { path, title: pageName } = Astro.props;

const url = new URL(path, Astro.site).href;
const siteName = "NullFire";
const title = `${siteName} | ${pageName}`;
const desc =
	"NullFire is a powerful Roblox script hub with countless features and a wide array of supported games.";
const tags = "nullfire, roblox, hacks, scripts, exploits, script hub";

const icon = new URL(logo.src, url).href;
const iconAlt = "NullFire Logo";
const iconWidth = logo.width.toString();
const iconHeight = logo.height.toString();

const themeColor = "#0e0f13";
---

<head>
	<!-- Site Config -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="theme-color" content={themeColor} />
	<meta name="referrer" content="no-referrer" />

	<!-- Preload -->
	<slot name="preload" />

	<!-- Titlebar Data -->
	<title>{title}</title>
	<link rel="icon" href={icon} fetchpriority="low" referrerpolicy="no-referrer" />

	<!-- Common Metadata -->
	<link rel="canonical" href={url} />
	<meta name="description" content={desc} />
	<meta name="keywords" content={tags} />
	<meta name="robots" content="index,follow" />

	<!-- Apple Metadata -->
	<meta name="apple-mobile-web-app-title" content={siteName} />
	<link rel="apple-touch-icon" href={icon} />

	<!-- Twitter Metadata -->
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:title" content={title} />
	<meta name="twitter:description" content={desc} />
	<meta name="twitter:image" content={icon} />
	<meta name="twitter:image:alt" content={iconAlt} />

	<!-- OpenGraph Metadata -->
	<meta property="og:url" content={url} />
	<meta property="og:type" content="website" />
	<meta property="og:site_name" content={siteName} />
	<meta property="og:title" content={title} />
	<meta property="og:description" content={desc} />
	<meta property="og:image" content={icon} />
	<meta property="og:image:alt" content={iconAlt} />
	<meta property="og:image:width" content={iconWidth} />
	<meta property="og:image:height" content={iconHeight} />

	<!-- Other Data -->
	<slot />
</head>
