---
interface Props {
	title: string;
}

const { title } = Astro.props;

if (!Astro.site) throw new Error("pls define the site url in the config thx");

// components
import Head from "../components/Head.astro";

// images
import logo from "../assets/logo.png";
import bgImage from "../assets/reception_blur.webp";

// stylesheets
import "../styles/main.css";
---

<!doctype html>
<html lang="en">
	<Head
		url={Astro.site}
		sitename="NullFire"
		pagename={title}
		desc="NullFire is a powerful Roblox script hub with countless features and a wide array of supported games."
		tags="nullfire, roblox, hacks, scripts, exploits, script hub"
		favicon={logo}
		embedImage={logo}
		embedImageAlt="NullFire Logo"
		themeColor="#0e0f13"
	>
		<Fragment slot="preload">
			<link
				rel="preload"
				href={bgImage.src}
				as="image"
				fetchpriority="high"
				referrerpolicy="no-referrer"
			/>
		</Fragment>
	</Head>
	<body style={`background-image: url('${bgImage.src}');`}>
		<main>
			<slot />
		</main>
	</body>
</html>
