---
interface Props {
	title: string;
}

const { title } = Astro.props;

if (!Astro.site) throw new Error("pls define the site url in the config thx");

import favicon from "../assets/favicon.webp";
import reception_blur from "../assets/reception_blur.webp";
import SEO from "../components/SEO.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<SEO
			url={Astro.site}
			sitename="NullFire"
			pagename={title}
			desc="NullFire is a powerful Roblox script hub with countless features and a wide array of supported games."
			tags="nullfire, roblox, hacks, scripts, exploits, script hub"
			icon={favicon}
			iconAlt="NullFire Logo"
			themeColor="#13151a"
		/>

		<link
			rel="preload"
			href={reception_blur.src}
			as="image"
			fetchpriority="high"
			referrerpolicy="no-referrer"
		/>
	</head>
	<body style={`background-image: url('${reception_blur.src}');`}>
		<main>
			<slot />
		</main>
	</body>
</html>

<style is:global>
	*,
	::before,
	::after {
		box-sizing: border-box;
	}

	:root {
		--fallback-bg-color: #0e0f13; /* #13151a; */
		--ui-color: #0004;
		--header-color: #0001;
		--outline: 2px solid #f009;

		color-scheme: dark;
	}

	html {
		margin: 0;
		padding: 0;
		overflow-x: hidden;
		font-family: Oxygen, "Open Sans", "Noto Sans", "Helvetica Neue", Roboto, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
		line-height: 1.15; /* 1.6; */
		tab-size: 4;
		font-size: 19px;
		color: #ddd;

		/* Prevent adjustments of font size after orientation changes (iOS) */
		-webkit-text-size-adjust: 100%;
	}

	body {
		margin: 0;
		padding: 0;
		overflow-x: hidden;
		background: fixed no-repeat center top/cover border-box var(--fallback-bg-color);
	}

	main {
		overflow-x: hidden;
		position: absolute;
		margin: 0;
		padding: 5svh 5svh;
		padding-top: 3svh;
		display: grid;
		align-items: center;
		align-content: space-around;
		justify-content: center;
		justify-items: stretch;
		background-color: var(--ui-color);
	}

	h1,
	h2 {
		margin: 0;
		margin-bottom: 0.2em;
		line-height: 1;
		text-align: center;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		color: #eee;
	}
	h2 {
		font-size: 1.5rem;
		font-weight: 600;
		color: #dedede;
	}

	code,
	kbd,
	samp,
	pre {
		font-family: Menlo, "DejaVu Sans Mono", "Roboto Mono", Monaco, "Lucida Console", "Liberation Mono", "Bitstream Vera Sans Mono", monospace, monospace, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

		/* Normalize font sizing */
		font-size: 1em;
	}

	/*
	since the <a> element is used for things like the social cards,
	this stuff should be moved to a seperate class only for text hyperlinks.

	a {
		font-weight: 600;
		color: #ddd;
		text-decoration: underline solid #44f 2px;
	}
	*/

	/* ************************** */
	/* Normalize bold font weight */

	b,
	strong {
		font-weight: bolder;
	}

	/* ***************************************** */
	/* Fix <sub> and <sup> affecting line height */

	sub,
	sup {
		font-size: 75%;
		line-height: 0;
		position: relative;
		vertical-align: baseline;
	}

	sub {
		bottom: -0.25em;
	}

	sup {
		top: -0.5em;
	}

	/* *************************************************** */
	/* Fix table border color inheritance (Chrome, Safari) */

	table {
		border-color: currentcolor;
	}

	/* ******************************* */
	/* Fix font styles                 */
	/* Remove margin (Firefox, Safari) */
	
	button,
	input,
	optgroup,
	select,
	textarea {
		font-family: inherit;
		font-size: 100%;
		line-height: 1.15;
		margin: 0;
	}

	/* ************************************ */
	/* Fix styling clickable types (Safari) */

	button,
	[type="button"],
	[type="reset"],
	[type="submit"],
	::-webkit-file-upload-button {
		-webkit-appearance: button;
	}

	/* ************** */
	/* Remove padding */
	
	legend {
		padding: 0;
	}


	/* **************************************** */
	/* Fix vertical alignment (Chrome, Firefox) */
	
	progress {
		vertical-align: baseline;
	}

	/* ************************************************************ */
	/* Fix cursor style on increment and decrement buttons (Safari) */
	
	::-webkit-inner-spin-button,
	::-webkit-outer-spin-button {
		height: auto;
	}

	/* ******************************* */
	/* Fix appearance (Chrome, Safari) */
	/* Fix outline style (Safari)      */

	[type="search"] {
		-webkit-appearance: textfield;
		outline-offset: -2px;
	}

	/* ************************************* */
	/* Remove inner padding (Chrome, Safari) */
	
	::-webkit-search-decoration {
		-webkit-appearance: none;
	}

	/* ****************** */
	/* Fix fonts (Safari) */
	
	::-webkit-file-upload-button {
		font: inherit;
	}
	
	/* **************************** */
	/* Fix display (Chrome, Safari) */
	
	summary {
		display: list-item;
	}

	/* *************************************** */
	/* Improve font rendering on HiDPI devices */

	@media
		screen and (-webkit-min-device-pixel-ratio: 2),
		screen and (min-resolution: 2dppx) {
		body {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
		}
	}

	/* ********************************************** */
	/* Remove outline on active/hovered focused links */

	a:active,
	a:hover {
		outline-width: 0;
	}

	/* ************************************************************ */

	.icon {
		height: inherit;
		width: auto;
		aspect-ratio: 1/1;
	}

	.pwrful {
		font-weight: bold;
		font-style: italic;
		text-decoration: 5px #ff0000 solid underline;
	}

	@keyframes imprtntgrow {
		from {
			text-decoration-thickness: 2px;
			text-decoration-color: #ff000088;
		}
		to {
			text-decoration-thickness: 4px;
			text-decoration-color: #ff0000bb;
		}
	}
	@keyframes imprtntshrink {
		from {
			text-decoration-thickness: 4px;
			text-decoration-color: #ff0000bb;
		}
		to {
			text-decoration-thickness: 2px;
			text-decoration-color: #ff000088;
		}
	}
	.imprtnt {
		font-weight: 600;
		text-decoration: 1px #ff000077 solid underline;
		animation: 75ms ease-in-out 0ms imprtntshrink both;
	}
	.imprtnt:hover {
		animation: 75ms ease-in-out 0ms imprtntgrow both;
	}

	.lead {
		margin-top: 0;
		margin-bottom: 15px;
		font-weight: 500;
		color: #e5e5e5;
		font-size: 1.5rem;
		text-align: center;
	}

	.no-pad-y {
		margin-top: 0;
		padding-top: 0;
		margin-bottom: 0;
		padding-top: 0;
	}
</style>
